.cepFrete{
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

h6{
    font-size: 1rem;
}

#msgCep{
    color: rgb(199, 50, 50);
}

.cepFrete p, .cepFrete input, .cepFrete button {
    margin-right: 1rem;
}

.cepFrete button{
    height: auto;
    width: auto;
}
