.resumo{
    background-color: rgb(96, 71, 109);
    color: white;
    padding: 2rem;
    border-radius: 1rem;
}
.resumo h2{
    padding-bottom: 0.6rem;
    border-bottom: 0.1rem solid rgb(211, 196, 219);
}

.resumoItens{
    border-top: 0.1rem solid rgb(211, 196, 219);
}

.resumoFrete{
    border-bottom: 0.1rem solid rgb(211, 196, 219);
}

.resumoItens, .resumoFrete, .resumoTotal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0.6rem 0 0.6rem 0;
    
}
.resumo h6{
    margin: 0;
    padding: 0;
}
.resumoItens p{
    margin: 0;
    padding: 0;
}
.resumoFrete p{
    margin: 0;
    padding: 0;
}

#fecharPedido{
    width: 100%;
    background-color: rgb(72, 112, 187);
    padding: 1rem;
    border-style: none;
    border-radius: 1rem;
    margin-top: 2rem;
    color:white;
    font-weight: bolder;
}

#fecharPedido:disabled{
    background-color: rgb(199, 203, 211);

}


